<?xml version="1.0"?>
<launch>
    <arg name="service_io" default="robotnik_base_hw/set_digital_output" />
    <arg name="digital_output" default="1.0" />

    <node name="buzzer" pkg="buzzer" type="buzzer_node.py" output="screen">
        <param name="service_io" value="$(arg service_io)" />
        <param name="digital_output" value="$(arg digital_output)" />
    </node>
    
</launch>
